:root {
  --nav-link-text: black;
  --main-backgound-color: white;
  --secondary-background-color: #ccc;
  --nav-bar-background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  background-color: var(--nav-bar-background-color);
  width: 100%;
  box-shadow: #0003 0 1px 5px, #00000024 0 2px 2px, #0000001f 0 3px 1px -2px;
}

iframe {
  width: 100%;
  overflow-x: auto;
  border: none;
}

#main-nav {
  border-radius: 1px;
  border-color: black;
  background-color: var(--nav-bar-background-color);
  /* padding: 10px 40px; */
  padding: auto;
  display: inline-flex;
  /* margin: auto; */
}

header {
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

#main-nav>ul {
  padding-left: 20px;
  border-style: none !important;
  align-items: center;
}

#main-nav>ul>li {
  margin: 0 20px;
}

#main-nav>ul>li img {
  height: 20px;
  padding-top: 5px;
}

/* #main-nav>ul>li > a{
  font-size: 14px;
} */

a {
  text-decoration: none;
  color: var(--nav-link-text);
}

#main-nav> ul>li> a{
  color: var(--nav-link-text);
}

.quote {
  padding: 10px 20px 10px 20px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  display: inline-block;
  width: auto;
  box-shadow: #0003 0 1px 5px, #00000024 0 2px 2px, #0000001f 0 3px 1px -2px;
}

body > div {
  padding: 0px 40px 0px 40px;
}

span {
  font-size: 20px;
}

.div-center {
  display: flex;
  justify-content: center;
}

#pricing {
  /* background-color: gray; */
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#pricing > li {
  background-color: lightgray;
  width: calc(33.33% - 20px);
  border: 1px solid #ccc;
  float: left;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  min-width: 260px;
}

#mobile-menu {
  display: none;
}


#text-per-month {
  font-weight: normal !important;
  font-size: 15px !important;
  margin-left: 5px;
}

#pricing > li {
  box-shadow: #0003 0 1px 5px, #00000024 0 2px 2px, #0000001f 0 3px 1px -2px;
}

#pricing > li > div {
  padding: 0px 15px 0px 15px;
}

#pricing > li > div > h2 {
  margin: 10px 0px 0px 0px;
}

#pricing > li > div > div.price {
  margin: 20px 0px 20px 0px;
  box-sizing: border-box;
}

#pricing>li>div>div.price > span {
  font-weight: bold;
  font-size: 30px;
}

#pricing>li>div>p {
  margin: 0px;
}

.login-register {

}

.div-inline {
  display: inline-block;
}

#nav-login {
  position: absolute;
  right: 10px;
  display: inline-flex;
  margin: 16px 0 16px 0;
}

#nav-login > div {
  margin-left: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: #0003 0 1px 5px, #00000024 0 2px 2px, #0000001f 0 3px 1px -2px;
}

#login {
  background-color: var(--secondary-background-color);
}

#dropdown-menu {
  display: none;
}

#menu-checkbox {
  display: none !important;
}

@media (max-width: 1000px) {
  #pricing {
    display: flex;
    flex-direction: column;
  }

  #pricing>li {
    background-color: lightgray;
    width: 80%;
    border: 1px solid #ccc;
    float: left;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    min-width: 260px;
  }
}

@media (max-width: 750px) {
  #mobile-menu {
    display: inline-flex;
    /* position: absolute;
    right: 10px; */
    margin: 16px 0px;
  }

  #dropdown-menu-btn {
    /* border-style: none; */
    background-color: var(--nav-bar-background-color);
  }

  .dropdown-menu-btn > img {
    height: 30px;
    position: absolute;
    right: 10px;
  }

  #main-nav>ul li:nth-child(n + 2) {
    display: none !important;
  }

  #nav-login {
    position: absolute;
    right: 50px;
    display: inline-flex;
    margin: 16px 0 16px 0;
  }

  #dropdown {
    background-color: black;
  }

  #menu-checkbox:checked ~ #dropdown-menu {
    display: block;
    height: 0px;
    width: 0px;
  }

  #menu-checkbox:checked ~ label > img {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiM4ODg4ODgiIGQ9Im0xMiAxMy40bC00LjkgNC45cS0uMjc1LjI3NS0uNy4yNzV0LS43LS4yNzVxLS4yNzUtLjI3NS0uMjc1LS43dC4yNzUtLjdsNC45LTQuOWwtNC45LTQuOXEtLjI3NS0uMjc1LS4yNzUtLjd0LjI3NS0uN3EuMjc1LS4yNzUuNy0uMjc1dC43LjI3NWw0LjkgNC45bDQuOS00LjlxLjI3NS0uMjc1LjctLjI3NXQuNy4yNzVxLjI3NS4yNzUuMjc1Ljd0LS4yNzUuN0wxMy40IDEybDQuOSA0LjlxLjI3NS4yNzUuMjc1Ljd0LS4yNzUuN3EtLjI3NS4yNzUtLjcuMjc1dC0uNy0uMjc1eiIvPjwvc3ZnPg==);
  }

  #dropdown-menu > div {
    display: inline-flex;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: var(--nav-bar-background-color);
    width: 100vw;
    box-shadow: #0003 0 1px 5px, #00000024 0 2px 2px, #0000001f 0 3px 1px -2px;
    justify-content: center;
  }

  #dropdown-menu > ul {
    display: inline-flex;
  }

  #dropdown-menu li {
    padding: 0px 30px;
  }

  #dropdown-menu li:nth-child(n + 2) {
    border-left: 1px solid var(--secondary-background-color);
  }
}

@media (max-width: 750px) {
  #dropdown-menu li {
      padding: 0px 10px;
  }
}

@media (max-width: 380px) {
  #dropdown-menu li {
    padding: 0px 5px;
  }
}