ul.contact-info {
  list-style: circle;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 10px 10px 20px;
}

ul.contact-info p {
  margin: 0;
}

h2 {
  margin: 20px 0 0 0 ;
}

p > a {
  color: blue !important;
}

#contact {
  margin-bottom: 5px;
}