#dropdown-menu {
  display: none;
}

#menu-checkbox {
  display: none !important;
}

button.menu-button {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

button.menu-button > img {
  width: 30px;
  padding: 5px 10px 0 0 ;
}

#mobile-menu {
  display: none;
}

@media (max-width: 790px) {
  #mobile-menu {
    display: inline-flex;
    margin: auto 0px;
  }

  #dropdown-menu-btn {
    background-color: var(--nav-bar-background-color);
  }

  .dropdown-menu-btn > img {
    height: 30px;
    position: absolute;
    right: 10px;
  }
  
  #dropdown {
    background-color: black;
  }

  #dropdown-menu > div {
    display: inline-flex;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: var(--nav-bar-background-color);
    width: 100vw;
    box-shadow: var(--main-box-shadow);
    justify-content: center;
    flex-direction: column;
  }

  #dropdown-menu > ul {
    display: inline-flex;
  }

  #dropdown-menu li {
    padding: 0px 30px;
  }

  #dropdown-menu li:nth-child(n + 2) {
    border-left: 1px solid var(--secondary-background-color);
  }
}


@media (max-width: 600px) {
  #dropdown-menu li {
    padding: 0px 10px;
  }
}

@media (max-width: 380px) {
  #dropdown-menu li {
    padding: 0px 5px;
  }
}